-# NEXT-1203 - changes to cliolabs
-# don't show the search-box on the EDS/LABS/AAD home-page.
-# = display_search_boxes('quicksearch')

.row
  -# currently, there's only one column.
  -# but leave a bit on the right for spacing.
  .landing_main.col-sm-9
    .title.text-center Welcome to CLIO Workshop!

    = render partial: '/datasource_warning', locals: {warning: warning}

    .well
      %p
        CLIO Workshop is where new features under development or 
        consideration are demonstrated and evaluated. Please 
        <a class="feedback-popup" href="#">share</a>
        your impressions of these potential new or revised services. 

      %p

        Currently under consideration are: 

      %br

      %h4
        = link_to "Advanced Article Discovery", eds_index_path

      %p
        As an alternative to CLIO Article Search, Advanced article discovery provides some additional features such as the ability to filter results by Content Provider. 

      %br
      
      %h4
        = link_to "Discipline based Article Search", scoped_simple_path

      %p
      Discipline based article search provides the ability to limit your search to a curated set of subject specific resources. 


  -#   %p Quicksearch performs a combined search of:
  -#   %ul
  -#     %li #{datasource_switch_link('Catalog', 'catalog')} (books, journals, online resources, videos, and more)
  -#     %li #{datasource_switch_link('Articles', 'articles')} (journal articles, e-books, dissertations, and more)
  -#     %li #{datasource_switch_link('Academic Commons', 'academic_commons')} (digital repository of Columbia research)
  -#     %li #{datasource_switch_link('Libraries Website', 'library_web')}
  -# 
  -# .landing_side.col-sm-4
  -#   .well.sidebar-nav
  -#     .nav
  -#       %ul.nav.nav-list
  -#         %li.nav-header Guide
  -#         %li=link_to "Search Tips", "https://blogs.cul.columbia.edu/clio/guides/quicksearch-guide/", :target => "_blank"
  -#         %li.nav-divider
  -# 
  -#       %ul.nav.nav-list
  -#         %li.nav-header Related Links
  -#         %li=link_to "CLIO News ", "https://blogs.cul.columbia.edu/clio/"
