-# used in the layout, for html page header and H2 text
- @page_title = "Quick Set Management"


%table.table.table-striped.table-bordered
  %tr
    %th
      Name
    %th
      Description
    %th
      Databases
    %th
      Suppressed
    %th
      Last Update
    
  - @quicksets.each do |quickset|
    %tr
      %td
        %strong
          = link_to quickset.name, edit_quick_set_path(quickset.id)
        %br
        (#{quickset.content_provider_names.size} content providers)
      %td= quickset.description
      %td
        -# - quickset.content_providers.each do |db|
        -#   .db= db.name
        - quickset.content_provider_names.each do |name|
          .db= name
      %td= quickset.suppressed ? "[suppressed]" : ""
      %td= quickset.updated_at.strftime("%F %H:%M")


%br    
%br    

= link_to 'New Quick Set', new_quick_set_path, class: 'btn btn-primary'
