// catalog/analysis_home.html.haml

%h3
  Collection Analysis

- constraints_html = fix_catalog_links(render('constraints', :localized_params=>params ))

- if constraints_html.nil? || constraints_html.length == 0
  %p Analyze the full collection of catalog records.
- else
  %p Analyze the set of records returned by the following query parameters:
  = constraints_html

%p Select a comparison from below.

%table.table.table-bordered.table-striped.small.text-center
  %tr.small
    %td 
      // empty top-left corner cell
    - facets.each do |facet_id_x, facet_x|
      %th.text-center= facet_x[:label]
  - facets.each do |facet_id_y, facet_y|
    %tr.small
      %th.text-center=facet_y[:label]
      - facets.each do | facet_id_x, facet_x|
        %td
          - if facet_id_x == facet_id_y
            -
          - else
            - analysis_params = {x: facet_id_x, y: facet_id_y}
            - link_text = "#{facet_y[:label]}<br>by<br>#{facet_x[:label]}".html_safe
            = link_to link_text, analysis_show_path(params.merge(analysis_params))
      



