!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}

  %head
    = render :partial => "/layouts/common_head"
    = stylesheet_link_tag "application"


  %body.blank_layout
    = yield

    = render :partial => "/layouts/common_tail"

    // Local Javascript for this layout only.
    = javascript_include_tag 'angular-support'

